@using System.Text.Json;

<h1>User Dashboard for @ViewData["site"]</h1>
<h2>@ViewBag.welcome</h2>
<h3>@ViewBag.CommonData</h3>

@{
    LoginModel user =
    JsonSerializer.Deserialize<LoginModel>(TempData.Peek("user").ToString());
}
<p>Username: @user.Username </p>
<p>Password:@user.Password </p>

<h3>Session Username : @Context.Session.GetString("sessionUsername")</h3>

@{
    string newuser = Context.Session.GetString("NewUser");
    LoginModel newusermodel = JsonSerializer.Deserialize<LoginModel>(newuser);
}

<h3>New Username from Session: @newusermodel.Username</h3>
<h3>New Password from Session: @newusermodel.Password</h3>
